body{
    /* background-color: black; */
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero{
    padding: 50px 50px 50px 50px;
}

.hero-title{
        display: flex;
            align-items: center;
            justify-content: center;
}

